<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    .hanggif{
        display: flex; position: relative;
        width: 80vw; height: 100vh;
        background-color: aliceblue;
        background-image: url('{{ url_for('static', filename='IMG_3702.GIF') }}');
        background-size: cover;
    }
    </style>
</head>
<body>
    <div class="Homepage">
        <div class="banner">
            <div class="hangbanner">Hang</div>
            <div class="manbanner">Man</div>
            <div class="button">
                <button class="Home" onclick="window.location.href='{{ url_for('index') }}'">Home</button>
                <button class="Play" onclick="window.location.href='{{ url_for('play') }}'">Play</button>
                <button class="Leaderboard" onclick="window.location.href='{{ url_for('leader') }}'">Leaderboard</button>
                <button class="Information" onclick="window.location.href='{{ url_for('infor') }}'">Information</button>
            </div>
        </div>
        <div class = "display">
            <div class="hanggif">
                <!-- <img id="hanggif" src="{{ url_for('static', filename='IMG_3702.GIF') }}" alt="ผลลัพธ์"> -->
            </div>
        </div>
    </div>
</body>
</html>